html
  head
    title Registration Page
    script(src="https://www.google.com/recaptcha/api.js" async defer)
  body
    h1 Registration Page
    if locals.flashes
        .flash-messages(style="color:red")
          - const categories = Object.keys(locals.flashes)
          each category in categories
            each message in flashes[category]
              .flash(class=`flash--${category}`)
                p.flash__text!= message
                button.flash__remove(onClick="this.parentElement.remove()") &times;
    form(action="/registration" method="post")
      |
      div
        label(for="name") Name
        input(type="text" id="name" name="name")
      |
      div
        label(for="email") Email
        input(type="text" id="email" name="email")
      |
      div
        label(for="password") Password
        input(type="password" id="password" name="password")
      div
        label(for="password-confirm") Confirm Password
        input(type="password" id="password-confirm" name="password-confirm")
      |
      if locals.checkCaptcha
        div(class="g-recaptcha" data-sitekey=locals.siteKey)
      div(class="button")
        button(type="submit") Send your message
